.mvh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12vh;
  background-color: navy;
  color: white;
}

.mvh>h1,
.mvh>form {
  display: flex;
  justify-content: center;

}

.mvh>h1 {
  width: 70%;
  align-items: center;
}

.mvh>form {
  width: 30%;
  align-items: left;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.mvmain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  width: 100vw;
  height: 80vh;
  margin-top: 10px;
  margin-left: 20px;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 100vw;
  height: 80vh;
  margin: 10px 50px;
  background-color: beige;
}
.detailTag > li{
  margin: 10px 50px;
  padding: 10px;
  font-size: 1.2em;
}
.d {
  background-color: gray;
  color: white;
  font-weight: bold;
}
.rowDiv,
.rowDiv0 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 6vh;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}

.rowDiv0 {
  background-color: green;
  color: white;
}

.rowDiv:hover,
.rowDiv:active {
  background-color: beige;
}

.col {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

#colrank {
  width: 10%;
}

#colmovieNm {
  width: 60%;
}

#colaudiAcc {
  width: 20%;
}

#colrankInten {
  width: 10%;
}

.spup {
  color: red;
}

.spdown {
  color: blue;
}