.galmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
}

.galmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 90vh;
}
.search {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
}
input[type="text"] {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid;
}
button {
  width: 50px;
  height: 50px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
}
.galcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid;
  border-radius: 10px;
  width: 550px;
  height: 80vh;
  background-color: navy;
}
.titleTag, .titleTagSel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.titleTag:hover, .titleTag:active, .titleTagSel {
  background-color: lightgray;
  color: white;
}
.img {
  width: 100%;
  height: 40%;
}
.galTitle {
  padding: 10px 20px 0px 20px;
  color: gray;
  font-size: 2.3em;
}
.galPhotographyLocation, .galPhotographer {
  padding: 0px 20px 0px 20px;
  color: yellow; 
  font-size: 1.5em;
}
.galPhotographyMonth, .galSearchKeyword {
  padding: 0px 20px 0px 20px;
  color: white;
  font-size: 1em;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; 
  width: 510px;
  background-color: beige;
  border-radius: 10px;
  margin: 20px 0;
}
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  color: green;
  font-weight: bold;
  font-size: 1.1em;
  box-sizing: border-box;
}